body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

header {
    top: 0;
    left: 0;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}


h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

p.subtitle {
    font-size: 1.2em;
    margin-top: 5px;
    color: #777;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.image-container {
    display: flex;
    align-items: center;
}

table {
    width: calc(100% - 30px);
    margin-top:10px;
    margin-bottom: 20px;  
}

th, td {
    border-top: 0px;
    border-bottom: 1px dashed black;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
    text-align: left;
    color: black;
}